<div style="margin-left:10px;padding-top:10px;padding-bottom:10px;margin-left:25%;">
  <hr/>
  <h4>This post is part of a series:</h4>

{% assign posts = site.posts | sort: 'partno', 'last' "%}

<ul>
{% for post in posts %}
  {% if post.categories contains 'xairo' %}
    {% if post.url == page.url %}
    <li>Part {{post.partno}} - {{post.title}} <em>(this post)</em></li>
    {% else %}
      <li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">Part {{post.partno}} - {{post.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

<hr/>
</div>


